<nav class="navbar">
  <span class="navbar-name">Aarti</span>

  <div class="hamburger" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="navbar-menu" [ngClass]="{'show-menu': isMenuOpen}">
    <a (click)="scrollToSection('home')">Home</a>
    <a (click)="scrollToSection('about')">About</a>
    <a (click)="scrollToSection('skills')">Skills</a>
    <a (click)="scrollToSection('education')">Education</a>
    <a (click)="scrollToSection('experience')">Experience</a>
    <a (click)="scrollToSection('projects')">Projects</a>
    <a (click)="scrollToSection('contact')">Contact</a>
  </div>
</nav>
