<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <p>&copy; 2025 Aartikamble. All rights reserved.</p>
    </div>
    <div class="footer-right">
      <!-- <a href="mailto:kambleaarti2111@gmail.com">
          <i class="fas fa-envelope"></i> {{ email }}
      </a> -->
      <a href="https://www.linkedin.com/in/aarti-kamble-269143252/" target="_blank">
          <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://github.com/Aartikamble2111" target="_blank">
          <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://wa.me/0561787404" target="_blank">
        <i class="fab fa-whatsapp"></i> WhatsApp
    </a>
  </div>
  
   
  </div>
</footer>
