/* Ensure the container takes full height */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  // padding-top: 80px; /* Adjust this based on the navbar height */
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

/* Style for the intro section */
.intro-section {
  max-width: 800px; /* Prevents text from stretching too wide */
  padding: 20px;
}

/* Styling for different text elements */
.name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #E0E0E0;
  padding: 5px;
}

.position {
  font-size: 1.8rem;
  color: #E0E0E0;
  margin-bottom: 15px;
}

.description {
  font-size: 17px;
  line-height: 1.6;
  color: #E0E0E0;
  font-family: Arial, sans-serif !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .name {
    font-size: 2rem;
  }

  .position {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 1.8rem;
  }

  .position {
    font-size: 1.3rem;
  }

  .description {
    font-size: 0.9rem;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro-section h1,
.intro-section h2,
.intro-section p {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}

/* Delays for a staggered effect */
.intro-section h1 {
  animation-delay: 0.2s;
}

.intro-section h2 {
  animation-delay: 0.4s;
}

.intro-section p {
  animation-delay: 0.6s;
}

