<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="container full-height"
  id="home"
>
  <div class="intro-section">
    <h1 class="name">Hello! I'm Aarti Kamble</h1>
    <h2 class="position">I'm a Software Developer</h2>
    <p class="description">
      Seeking a dynamic career in an organization committed to excellence, where I can leverage my 2+ years of experience as a Software Developer proficient in HTML, CSS, JavaScript, Angular, and Node.js. I am dedicated to contributing to innovative projects and aim to collaborate with a team that values creativity and delivers high-quality solutions.
    </p>
  </div>
</div>
